.content {
    background: linear-gradient(rgb(80, 184, 229), rgb(87, 131, 171), rgb(176, 116, 183));
    display: flex;
    justify-content: space-between;
    // flex-direction: row-reverse;
    padding: 0.5rem;
    align-items: center;
    gap: 1rem;

    .left {
        display: flex;
        gap: 0.2rem;


        .icon {
            padding-top: 0.3rem;
            color: rgb(64, 93, 131);
            cursor: pointer;
        }

        p {
            color: rgb(93, 68, 167);
            font-weight: bold;
            font-size: 1.5rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            cursor: pointer;
        }
    }

    .right {
        display: flex;
        gap: 1rem;

        button {
            background-image: linear-gradient(rgb(159, 83, 162), rgb(213, 145, 220));
            color: rgb(166, 42, 83);
            font-weight: bold;
            font-size: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

::ng-deep .mat-menu {
    width: auto;
    border: groove 0.5rem;
    border-color: rgb(57, 145, 170) rgb(120, 79, 161);
    background-color: aquamarine;

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;
        gap: 10px;

        * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .profile-image {
            font-size: 3rem;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(109, 30, 84);
            background-color: rgb(174, 120, 175);
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            box-shadow: 4px 4px 4px rgb(125, 48, 137);
        }

        div {
            color: rgb(55, 88, 139);
            font-size: 1.5rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }

    mat-list-item {
        padding: 0;
        margin: 0;
    }

    .menu-items {
        display: flex;
        align-items: center;
        line-height: 2rem;
        gap: 5px;
        padding-left: 1rem;
        color: rgb(140, 36, 142);
        font-size: 1.2rem;

        &:hover {
            cursor: pointer;
            background-color: rgb(232, 127, 255);
            font-size: 2rem;
            color: rgb(133, 87, 197);
        }
    }

    .logout {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;

        button {
            background-image: linear-gradient(rgb(147, 65, 180), rgb(20, 113, 136), );
            color: rgb(114, 12, 86);
            font-size: 1rem;
            font-weight: bold;
        }
    }
}